<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712205649791-ugmajuphrlp50egkhd60ecsk8a743ufu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712205649791-ugmajuphrlp50egkhd60ecsk8a743ufu</string>
	<key>API_KEY</key>
	<string>AIzaSyBT4Ak3ZCl-EIUydrtTO5xj2Rb2GpvuDLA</string>
	<key>GCM_SENDER_ID</key>
	<string>712205649791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.visualIa</string>
	<key>PROJECT_ID</key>
	<string>vision-ia-bbd26</string>
	<key>STORAGE_BUCKET</key>
	<string>vision-ia-bbd26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712205649791:ios:c871e5c35b93ae11913c4a</string>
</dict>
</plist>